/* /////////////// Hero Section Formats */

.section-hero {
  display: relative;
}

/* For Hero and History logo */
.logo {
  border: 1px solid #bcc3c6;
  border-radius: 50%;
}

.hero-background {
  width: 100%;
  height: auto;
}

.navbar-hero {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-link {
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}

/* ////////////// Sticky Menu Section Formats */

.nav-link-sticky {
  color: #404f6c;
  border-bottom: 1px solid #404f6c;
}

/* ////////////// History Section Formats */
.section-history {
  background-image: url("img/History/SQ-history-background-with-peak-2-layers.jpg");
  background-size: cover;
  width: 100%;
  height: 150vh;
  background-position: center center;
  background-repeat: no-repeat;

  padding-top: 62px;

  position: relative;
}

.history-content {
  padding-left: 80px;
}

.history-text {
  margin-top: 5px;
  padding-left: 68px;
  line-height: 1.5;
}

.carousel-container {
  z-index: 1;
  background-color: rgba(64, 79, 108, 0.573);

  height: 220px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* bx slider /////////// */
.bx-wrapper {
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 0 !important;
  /* padding-bottom: 35px; */
  box-shadow: none;
  border: none;
}

.bx-prev,
.bx-next {
  display: none;
}

.bx-pager-link {
  background-color: #ffffff2d !important;
  height: 5px !important;
  width: 5px !important;
  transition: all 0.2s ease-in-out;
}

.bx-pager-link:hover {
  background-color: #ffffff99 !important;
}

.bx-pager-link.active {
  background-color: #ffffff !important;
}

.slider-img {
  width: 100%;
}

/* ////////////// Team Section Formats */
.team-header {
  padding-top: 31px;

  padding-bottom: 31px;
}

.team-text {
  line-height: 1.5;
}

/* Tabs */
.tab-background {
  background-image: url("img/Team/SQ-team-tab-content-2-background-cropped.jpg");
  background-size: cover;
  width: 100%;

  height: 67vh;
  background-position: center center;
  background-repeat: no-repeat;

  padding-top: 70px;
}

.tab-background-1 {
  background-image: url("img/team/SQ-team-tab-content-1-background-cropped.jpg");
}

.tab-background-2 {
  background-image: url("img/Team/SQ-team-tab-content-2-background-cropped.jpg");
}

.tabs-row {
  background-color: #404f6c;
}

.nav-pills {
  border-radius: 0 !important;
}

.nav-link-team {
  border-radius: 0 !important;
  color: #b0b4be;
  background-color: #404f6c;
  font-family: "League Gothic";
  font-size: 19px;
  text-align: center;
  border: none;
}

.nav-link-team:hover {
  color: #404f6c !important;
  background-color: #a0a3ac !important;
}

.nav-link-team.active {
  color: #404f6c !important;
  background-color: #b0b4be !important;
}

/* Nav tab text border */
.nav-link-team .nav-btn {
  border-bottom: 1px solid #404f6c !important;
}

.nav-link-team:hover .nav-btn,
.nav-link-team.hover .nav-btn {
  border-bottom: 1px solid #404f6c97 !important;
}

.nav-link-team.active .nav-btn {
  border-bottom: 1px solid #495772 !important;
}

.schedule-container {
  background-color: #ffffffd2;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 39px;
  padding-right: 39px;

  margin-left: 0px;
  margin-right: 65px;
}

.schedule-title-container {
  margin-bottom: 20px;
}

.schedule-text {
  text-align: end;
}

/* Accordion */
.accordion-header {
  border-radius: 0 !important;
  color: #b0b4be;
  background-color: #404f6c;
  font-family: "League Gothic";
  text-align: center;
  border: none;
}

.accordion-button {
  /* padding-left: 19rem; */
  font-size: 19px;
  color: #404f6c !important;
  background-color: #b0b4be !important;
  transition: all 0.5s;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.accordion-button:hover {
  color: #404f6c !important;
  background-color: #b0b4bec0 !important;
}

.accordion-button:not(.collapsed) {
  color: #b0b4be !important;
  background-color: #404f6c !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b0b4be'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* ///////////Footer */
.navbar-footer {
  background-color: #404f6c;
}

.copyright {
  color: #61759e;
  /* font-family: "League Gothic"; */
  font-weight: 600;
  font-style: italic;
}
